.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.flex-container {
  display: flex;
  flex-wrap: wrap-reverse;
}

.box {
  flex-grow: 1;
  text-align: center;
}

.form input {
  display: block;
  margin: 15px auto;
}
